<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.hangit.cordova"
        version="1.9.0">
    <engines>
        <engine name="cordova" version=">=3.8.0" />
    </engines>
    <name>Hangit</name>
    <description>Use the Hangit library for Location Based Notifications in your Cordova/PhoneGap app.</description>
    <author>Hangit Development Team</author>
    <keywords>hangit,hangitprojects,location,notification</keywords>
    <license>Apache 2.0 License</license>
    
    
    <js-module src="www/hangit.js" name="Hangit">
        <clobbers target="hangit" />
    </js-module>

    <platform name="ios">

        <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>We offer great deals at places near you, so let us know where you are. We’ll never spam you.</string>
        </config-file>
        
        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>fetch</string>
                <string>location</string>
            </array>
        </config-file>

        <config-file target="config.xml" parent="/*">
            <feature name="HangitCordovaPlugin">
                <param name="ios-package" value="HangitCordovaPlugin" />
                <param name="onload" value="true"/>
            </feature>
            <preference name="deployment-target" value="8.1" />
        </config-file>
        
        <header-file src="src/ios/AppDelegate+hangit.h"/>
        <source-file src="src/ios/AppDelegate+hangit.m"/>
        
        <header-file src="src/ios/HangitCordovaPlugin.h" target-dir="HangitPlugin"/>
        <source-file src="src/ios/HangitCordovaPlugin.m" target-dir="HangitPlugin"/>

        <framework src="src/ios/hangit_framework/HangitSDK.framework" custom="true" embed="true"/>
        <resource-file src="src/ios/hangit_framework/HangitSDKResources.bundle" />

        <framework src="CoreLocation.framework" />
        <framework src="MessageUI.framework" />
        
    </platform>
</plugin>
