<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.hangit.cordova"
        version="1.9.0">
    <engines>
        <engine name="cordova" version=">=3.8.0" />
    </engines>
    <name>Hangit</name>
    <description>Use the Hangit library for Location Based Notifications in your Cordova/PhoneGap app.</description>
    <author>Hangit Development Team</author>
    <keywords>hangit,hangitprojects,location,notification</keywords>
    <license>Apache 2.0 License</license>
    
    <js-module src="www/hangit.js" name="Hangit">
        <clobbers target="hangit" />
    </js-module>
    
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="HangitCordovaPlugin">
                <param name="android-package" value="com.hangit.plugins.hangitcordovaplugin.HangitCordovaPlugin" />
                <!--<param name="onload" value="true" /> -->
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <!-- Start: Hang IT Manifest <application> settings -->
            <service android:name="com.hangit.android.hangit_sdk.ServiceHangITLocation" >
                <meta-data
                    android:name="com.hangit.android.hangit_sdk.notification_icon"
                    android:value="ic_launcher" />
                <meta-data
                    android:name="com.hangit.android.hangit_sdk.notification_activity"
                    android:value="com.hangit.android.hangit_sdk.UIWebViewActivity" />
                <meta-data
                    android:name="com.hangit.android.hangit_sdk.appnext_notification_activity"
                    android:value="com.hangit.android.hangit_sdk.UIAppNextActivity" />
                <meta-data
                    android:name="com.hangit.android.hangit_sdk.notification_back_activity"
                    android:value="com.hangit.android.hangit_sdk.NotificationBackActivity" />

            </service>
            <service android:name="com.hangit.android.hangit_sdk.ServiceActivityRecognition" />
            <service android:name="com.hangit.android.hangit_sdk.ServiceBeacon" />

            <receiver android:name="com.hangit.android.hangit_sdk.ReceiverBootup" >
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                    <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                </intent-filter>
            </receiver>
            <!-- End: Hang IT Manifest <application> settings -->

            <activity android:name=".OfferNotificationActivity">
            </activity>

            <activity android:name="com.hangit.android.hangit_sdk.UIWebViewActivity">
            </activity>
            <activity android:name="com.hangit.android.hangit_sdk.UIMapActivity"
                        android:screenOrientation="portrait">
            </activity>
            <activity android:name="com.hangit.android.hangit_sdk.UIBackgroundActivity"
                android:screenOrientation="portrait">
            </activity>
            <activity android:name="com.hangit.android.hangit_sdk.UINotificationBackActivity">
            </activity>
            <activity android:name="com.hangit.android.hangit_sdk.UIAppNextActivity"
                android:screenOrientation="portrait">
            </activity>
            <activity android:name="com.hangit.android.hangit_sdk.UIWalletActivity"
                android:screenOrientation="portrait">
            </activity>

            <service android:name="com.estimote.sdk.service.BeaconService"
                android:exported="false" />

        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
            <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
            <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        </config-file>
        
        <framework src="src/android/hangitcordovaplugin.gradle" custom="true" type="gradleReference" />
        <resource-file src="src/android/hangit_android_sdk/hangit_sdk.aar" target="libs/hangit_sdk.aar" />
        <resource-file src="src/android/hangit_android_sdk/estimote-sdk-preview.aar" target="libs/estimote-sdk-preview.aar" />
        <source-file src="src/android/HangitCordovaPlugin.java" target-dir="src/com/hangit/plugins/hangitcordovaplugin" />
        <source-file src="src/android/MainActivityHangitExt.java" target-dir="src/com/hangit/" />
         <!--<source-file src="src/android/MainActivity.java" target-dir="src/" /> -->
        <hook type="after_prepare" src="src/android/hooks/android_manifest_activity_name.js" />
        
    </platform>
    
    <!-- ios -->
    <platform name="ios">
    
        <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>We offer great deals at places near you, so let us know where you are. We’ll never spam you.</string>
        </config-file>
        
        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>fetch</string>
                <string>location</string>
            </array>
        </config-file>

        <config-file target="config.xml" parent="/*">
            <feature name="HangitCordovaPlugin">
                <param name="ios-package" value="HangitCordovaPlugin" />
                <param name="onload" value="true"/>
            </feature>
            <preference name="deployment-target" value="8.1" />
        </config-file>
        
        <header-file src="src/ios/AppDelegate+hangit.h"/>
        <source-file src="src/ios/AppDelegate+hangit.m"/>
        
        <header-file src="src/ios/HangitCordovaPlugin.h" target-dir="HangitPlugin"/>
        <source-file src="src/ios/HangitCordovaPlugin.m" target-dir="HangitPlugin"/>

        <framework src="src/ios/hangit_framework/HangitSDK.framework" custom="true" embed="true"/>
        <resource-file src="src/ios/hangit_framework/HangitSDKResources.bundle" />

        <framework src="CoreLocation.framework" />
        <framework src="MessageUI.framework" />
        
    </platform>
    
</plugin>
